/* - - - - - utilities css - - - - -  */
@import "utilities.css";


/* - - - -  universal css - - - - - - */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* - - - - variable - - - -  */
:root{
    --bg-color:#363636;
    --primary:#E40131;
    --common:#FFFFFF;
    --similar:#FFFFFF;
    --light:#EBEBEB;
}



 /* - - - - - - header - - - - - -*/

 /* - - - - - - header - - - - - -*/


 /* - - - - - - home - - - - - -*/

 /* - - - - - - home - - - - - -*/

 /* - - - - - - about - - - - - -*/

 /* - - - - - - about - - - - - -*/
