/* - - - - - utilities css - - - - -  */
@import "./css/utilities.css";

/* - - - -  universal css - - - - - - */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* - - - - variable - - - -  */
:root {
  --bg-color: #363636;
  --primary: #e40131;
  --common: #ffffff;
  --similar: #ffffff;
  --light: #ebebeb;
  --extra-light: #afafaf;
}

/* - - - - - section - - - - - */
section {
  padding: 6rem 0;
}
/* - - - - - section - - - - - */

/* - - - - - - header - - - - - -*/
header {
  background: var(--bg-color);
  padding: 40px 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

header .navList a {
  margin-right: 2rem;
  color: var(--similar);
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

header .navList a.active {
  color: var(--primary);
}

header .navList a:hover {
  color: var(--primary);
}

.home {
  margin-top: 50px;
  padding: 2rem 45px;
}

.home .left img {
  width: 300px;
}

.home .right {
  color: var(--common);
  margin-top: -8px;
}

.home .right p {
  color: #d8d8d8;
  font-size: 0.9378rem;
  margin-bottom: 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.home .right h1 {
  font-size: 2.5rem;
  line-height: 55px;
  margin-bottom: 25px;
  font-weight: 600;
}

.home .right h1 span {
  color: var(--primary);
}

.home .right h6 {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  margin-bottom: 30px;
}
/* - - - - - - header - - - - - -*/

/* - - - - - - about - - - - - -*/
.about .about-img img {
  width: 400px;
}

.about .right h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--bg-color);
  margin-bottom: 25px;
}

.about .right h1 span {
  color: var(--primary);
}

.about .right h6 {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
  color: var(--bg-color);
}

.about .right p {
  font-size: 0.9378rem;
  letter-spacing: 0.5px;
  color: var(--extra-light);
  margin-bottom: 25px;
}

.about .right .about-icon a img {
  height: 25px;
  margin-right: 15px;
  transition: all 0.4s ease;
  border-radius: 50px;
}

.about .right .about-icon a img:hover {
  background: var(--primary);
}

/* - - - - - - about - - - - - -*/

/* - - - - - - my skill - - - - - -*/
.mySkill {
  background: var(--light);
}

.my-skill-heading h1 {
  font-size: 2.5rem;
  color: var(--bg-color);
  font-weight: 600;
  margin-bottom: 15px;
}

.my-skill-heading h1 span {
  color: var(--primary);
}

.my-skill-heading p {
  font-size: 0.9378rem;
  font-weight: 700;
  color: var(--bg-color);
}

.mySkill .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}

.mySkill .card-wrapper .card {
  background: var(--common);
  padding: 3rem 2rem;
  position: relative;
  margin-top: 90px;
  transition: all 0.4s ease;
}

.mySkill .card-wrapper .card:hover {
  transform: translateY(-4%);
}

.mySkill .card-wrapper .card img {
  position: absolute;
  top: -2.525rem;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
}

.mySkill .card-wrapper .card h2 {
  font-size: 1.2rem;
  color: var(--bg-color);
  font-weight: 800;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  text-align: center;
}

.mySkill .card-wrapper .card p {
  font-size: 0.9378rem;
  color: var(--extra-light);
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
}
/* - - - - - - my skill - - - - - -*/

/* - - - - - - sub text - - - - - -*/
.sub-text {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./image/opacity.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
  padding-bottom: 8rem;
}

.sub-text h1 {
  color: var(--common);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.sub-text p {
  font-size: 0.9378rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--extra-light);
  margin-bottom: 30px;
}
/* - - - - - - sub text - - - - - -*/

/* - - - - - - client say - - - - - -*/
.client-heading .section-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--bg-color);
}

.client-heading span {
  color: var(--primary);
}

.client-heading p {
  font-size: 0.9378rem;
  color: var(--bg-color);
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}

/* - - - -  slider part - - - -  */
.slider{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #363636; */
  padding: 5rem ;
}

.slider .slider-items{
  text-align: center;
  /* background: #e40131; */
  width: 30rem;
}

.slider .slider-items img{
  width: 100px;
  margin-bottom: 20px;
}

.slider .slider-items h3{
  color: var(--bg-color);
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.slider .slider-items p{
  font-size: 0.9378rem;
  color: var(--extra-light);
  font-weight: 600;
}















.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

/* - - - -  slider part - - - - */
/* - - - - - - client say - - - - - -*/
